@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../vendor/fonts/inter-400-regular.woff") format("woff");
}

.input__label {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
  color: #2f71e5;
  position: relative;
}

.input__field {
  position: relative;
}

.input__element {
  display: block;
  width: 100%;
  border: none;
  border-bottom: solid 1px #000;
  margin: 5px 0 31px;
  padding: 5px 0 5px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  height: 14px;
}

.input__error {
  color: #ff0000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
  position: absolute;
  left: 0;
  bottom: -17px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 356px;
}

.input__element_password-button {
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 4px;
  right: 0;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.input__element_visiblility-icon {
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
}

.input__element_visiblility-icon:hover {
  opacity: 0.7;
}

.input__element_visiblility-icon_visible {
  opacity: 0.55;
}

@media screen and (max-width: 600px) {
  .input__element {
    margin: 8px 0 30px;
  }

  .input__error {
    max-width: 288px;
  }
}
